<div id={{elementId}} class="ui-image-container {{_orientation}} {{class}}" style="background-color: {{backgroundColor}};">
  {{#if _initialSrc}}
    <img
      id="init-img-{{elementId}}"
      src={{_initialSrc}}
      data-replace="img-{{elementId}}"
      class='ui-initial-image'
      style={{stylist}}
      onload={{action 'loadedInitialImage'}}
    >
  {{/if}}
  <img
    id="img-{{elementId}}"
    src={{src}}
    class="ui-image {{class}}{{if (not-eq _aspect naturalAspect) ' aspect-adjusted'}} {{_orientation}}{{clip}}"
    style={{stylist}}
    onload={{action 'loadedFinalImage'}}
  >
  <div class="ui-image-height-fixer" style={{stylist}}>
    {{yield}}
  </div>

</div>
